@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

/* 
TO DO: 
1. box shadow variable
2. grey text
3. icons
4. search bar input
5. auto limits on project box containers
*/

ul {
  list-style-type: none;
}

.dashboard {
  display: grid;
  grid-template-columns: 1.2fr 4fr;
}

.sidebar {
  background-color: #1992d4;
  color: white;
  grid-row: 1 / 2;
}

.branding,
.logo {
  display: grid;
  grid-template-columns: 1.2fr 2.8fr;
}

.logo img,
.logo p,
.branding h1,
.branding img {
  font-size: 1.4rem;
  font-weight: bold;
  align-self: center;
  padding: 0px 15px;
}

.branding h1 {
  font-size: 2.5rem;
}

.settings {
  margin-top: 50px;
}

.content-right {
  display: grid;
  grid-template-rows: .5fr 6fr;
}

.header {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.user {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.header-bottom-left {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.header-bottom-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

button {
  background-color: #1992d4;
  color: white;
  border: none;
  width: 6rem;
  height: 2rem;
  font-weight: bold;
  border-radius: 20px;
  font-size: 1rem;
}

.main-content {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 3fr 1.25fr;
  grid-template-rows: .75fr 10fr;
  gap: 20px;
  padding: 20px 20px 60px;
}

.main-content h1 {
  margin: 0px;
  display: grid;
  align-self: end;
}

.user-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.project {
  display: grid;
  grid-template-rows: 2fr .25fr;
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  border-left: 15px solid #f0b429;
}

.project-info h1 {
  font-size: 1.5rem;
}

.project-icons ul {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  justify-items: end;
}

/* EXTRAS */
.extras {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.announcement-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.announcement h2,
.announcement p {
  margin: 0px;
}

.announcement-list,
.trending-projects {
  border-radius: 15px;
}

.announcement-list {
  background-color: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
}

.trending {
  display: grid;
  grid-template-rows: .5fr 2fr;
}

#trending-title {
  margin-bottom: 20px;
}

.trending-projects {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #fff;
  padding: 10px;
}

.creator {
  display: grid;
  grid-template-columns: 1fr 3fr;
}